
*{
    
    box-sizing: border-box;
    margin: 0px;

}

html{
    position: relative; 

}

body {
    background-color: ghostwhite;
}

header{
    position: fixed;

    background-color: rgb(91, 74, 124);
    position: fixed;
    width: 100%;
    padding: 1.5%;
    top: 0px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: goldenrod;
    text-align: center;
    font-size: 4.5vw;
}





main {
    background-color: blueviolet;
}

footer {
    position: fixed;

    background-color: rgb(183, 96, 164);
    position: fixed;
    width: 100%;
    padding: 1%;
    bottom: 0px;
}
nav{
    display: flex;
    justify-content: center;
}

nav > ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

.current {
    filter:drop-shadow(0px 0px 10px whitesmoke);
    transform: scale(90%);
}

a>img{
    width: 5vw;
}
a>img:hover{
    filter: drop-shadow(0px 0px 8px #058fa4b4);
    filter: contrast(0%) brightness(1000%)

}
a>img:active{
    filter: drop-shadow(0px 0px 3px #06b517b4);
}